# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 6
  targetCPUUtilizationPercentage: 70
image:
  repository: ahmedbenrejeb0/backend
  tag: f601e190eb5e239a81789a799afce04869f9a8ae
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local