# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50
image:
  repository: ahmedbenrejeb0/backend
  tag: 98a7cea6dce4d234dfdb507f1aac7c86eb9aefe5
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local