# charts/social-game/values.yaml

replicaCount: 3
autoscaling:
  enabled: true
  minReplicas: 3    
  maxReplicas: 10
  targetCPUUtilizationPercentage: 50
image:
  repository: ahmedbenrejeb0/backend
  tag: 829ba455814a0530aee98929a55dc5fd8cf401b2
  pullPolicy: Always

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  host: killer-game.local